@keyframes changeBtnStyle {
  0% {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }

  100% {
    color: var(--standart-black);
    background-color: var(--main-white-color);
  }
}
